// fonts
$primary-font: "VictorMono-Regular", "Arial", sans-serif;
$primary-font-semibold: "VictorMono-SemiBold", "Arial", sans-serif;
$primary-font-bold: "VictorMono-Bold", "Arial", sans-serif;

// colors
$color-base-text: #333333;
$color-secondary-text: #2a2a2a;
$color-third-text: #1d242d;
$color-button-text: #ffffff;
$color-button-secondary-text: #9aa1a5;
$bg-button-primary-color: #038b2a;
$bg-button-secondary-color: #eff1f2;
$bg-progress-bar: #f7f9fa;
$bg-progress-bar-filled: #d4ecc4;
$bg-input: #f9fafb;

// viewports
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
$tablet-width: 768px;
$desktop-width: 1440px;
