.calculator-filter {
  padding: 0;
  display: grid;
  gap: 30px;
  border: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 40px;

    &--step-second {
      row-gap: 90px;
    }
  }
}

.calculator-filter__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  max-height: 500px;
  overflow-y: auto;


  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-height: 220px;

    &--step-first {
      grid-template-columns: repeat(3, 1fr);
    }

    &--step-second {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: $desktop-width) {
    max-height: 240px;
  }
}

.calculator-filter__item {
  position: relative;
  width: 100%;
  max-width: 395px;
  margin-bottom: 20px;
  justify-self: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    justify-self: auto;
  }

  &--step-first {
    max-width: 295px;
  }

  &--step-second {
    max-width: 187px;
  }
}

.calculator-filter__image {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 395px;
  height: auto;
  margin-bottom: 24px;

  &--step-first {
    max-width: 295px;
  }

  &--step-second {
    max-width: 187px;
  }
}

.calculator-filter__roof-input-label span {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: $color-secondary-text;
}

.calculator-filter__text {
  position: relative;
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;
  color: $color-secondary-text;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    margin-left: 20px;
    width: 22px;
    height: 25px;
    background-image: url("../../icons/point-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.calculator-filter__roof-dimensions {
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}
