.control-mark {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 24px;
  height: 24px;
  background-color: #f0f5f7;
  border: 2px solid #ffffff;
  border-radius: 100%;
  transform: translate(-50%);

  &--choose-color {
    bottom: -12px;
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: #7f7f7f;
  }

  &:hover {
    background-color: #038b2a;
    opacity: 0.8;
    cursor: pointer;

    & svg {
      stroke: #ffffff;
    }
  }
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid #038b2a;
}

.control-input[type="radio"]:checked + .control-mark {
  background-color: #038b2a;

  & svg {
    stroke: #ffffff;
  }
}

.control-label {
  display: block;
  text-align: center;
  font-size: 14px;
}

.control__image {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 395px;
  height: auto;
  margin-bottom: 24px;
  border-radius: 8px;

  &--step-first {
    max-width: 295px;
  }

  &--step-second {
    max-width: 187px;
  }
}
